<div id ="comment-tile-<%= comment.id %>">
  <li>
      <%= link_to comment.user.name, user_path(comment.user.id) %> - <%= comment.created_at.strftime("%b. %d %Y %l:%M%P") %>
      <h5><%= comment.title %></h5>
      <p><%= comment.body %></p>
      <%= link_to "reply", new_comment_comment_path(comment), id: "new-comment-comment-link-#{comment.id}", remote: true %>
      <% if session[:user_id] === comment.user_id %>
        <br>
        <%= link_to "edit", edit_comment_path(comment), id: "edit-comment-link-#{comment.id}", remote: true %> | <%= link_to "delete", comment_path(comment),
                               :data => {:method => "delete"} %></p>
      <% end %>
      <hr>
      <% if comment.comments.any? %>
        <ul>
          <%= render partial:'comments/comment', collection:comment.comments(:order => "created_at ASC") %>
        </ul>
      <% end %>
  </li>
</div>
