<div id ="comment-tile-<%= comment.id %>">
  <li>
    <p>
      <%= link_to comment.user.name, user_path(comment.user.id) %>
      <%= comment.created_at.strftime("%b. %d %Y, %l:%M%P") %>

      <% if session[:user_id] === comment.user_id %>
        <%= link_to edit_comment_path(comment), id: "edit-comment-link-#{comment.id}", remote: true do %>
          <span class='glyphicon glyphicon-pencil'></span>
        <% end %>
        <%= link_to comment_path(comment), :data => {:method => "delete"} do %>
          <span class='glyphicon glyphicon-trash'></span>
        <% end %>
      <% end %>
    </p>

    <p><%= comment.body %></p>

    <% if session[:user_id] %>
      <%= link_to "reply", new_comment_comment_path(comment), id: "new-comment-comment-link-#{comment.id}", remote: true %>
    <% end %>
    <hr>
    <% if comment.comments.any? %>
      <ul>
        <%= render partial:'comments/comment', collection:comment.comments %>
      </ul>
    <% end %>
  </li>
</div>
