<% if @posting.comments.any? %>
  <% @posting.comments.each do |comment| %>
    <%= link_to comment.user.name, user_path(comment.user.id) %> | <%= comment.created_at %>
    <h4><%= comment.title %></h4>
    <h2><%= comment.body %></h4>
    <%= link_to 'reply', new_message_path(to: @posting.user_id) %>
    <% if session[:user_id] === comment.user_id %>
      <p><%= link_to "edit", edit_posting_comment_path(@posting, comment), id: "edit-comment-link", remote: true %></p>
      <p><%= link_to "delete", posting_comment_path(@posting, comment),
                             :data => {:method => "delete"} %></p>
    <% end %>
    <hr>
  <% end %>
<% end %>
