<h1><%= @conversation.subject %></h1>
<hr>
<% @conversation.participants.each do |participant| %>
  <% unless participant == @user %>
    <%= participant.name %>
  <% end %>
<% end %>

<% @conversation.receipts_for(@user).each do |receipt| %>
  <p><% message = receipt.message %></p>
  <p><%= message.sender.name %> says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></p>
  <p><%= message.body %></p>
  <hr>
<% end %>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary' %>
<% end %>
