<h5>Enter your password to make changes</h5>
<%=form_for @user, remote: true do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>
  <br>
  <%=f.label :email %>
  <%=f.email_field :email %>
  <br>
  <%=f.label :password %>
  <%=f.password_field :password %>
  <br>
  <%=f.label :password_confirmation %>
  <%=f.password_field :password_confirmation %>
  <hr>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :phone %>
  <%= f.telephone_field :phone %>
  <hr>
  <%= f.label :photographer? %>
  <%= f.check_box :photographer, {}, "true", "false" do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <%end%>
  <br>
  <%= f.label :categories %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <%end%>
  <br>
  <%=f.submit "Save", class: "btn btn-success" %>
<%end%>
