<h1><%= @user.name %></h1>

<% if @user.photographer %>
  <span id="photographer-icon"><span class="glyphicon glyphicon-camera"></span>Photographer</span>
<% end %>

<hr>
<div class="row">
  <div class="col-xs-6">
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
  <div class="col-xs-6">
    <h4><%= @user.phone %> | <a href="mailto:<%= @user.email %>"><%= @user.email %></a></h4>
    <h4><%= @user.address %></h4>
    <% unless session[:user_id] == @user.id %>
      <%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-default btn-sm' %>
    <% end %>
    <hr>
    <% if @user.postings.any? %>
      <%= render 'postings' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google', { markers: { clusterer: undefined  } });
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });
</script>

<% if @user.photographer %>
  <% if @user.categories.any? %>
    <hr>
    <%= render 'categories' %>
  <% end %>

  <% if @user.images.any? %>
    <hr>
    <%= render 'images' %>
  <% end %>

  <% if session[:user_id] === @user.id %>
    <hr>
    <p><%= link_to "upload photos", new_user_image_path(@user), class:'btn btn-default btn-sm' %></p>
  <% end %>

  <% unless session[:user_id] === @user.id %>
    <hr>
    <%= link_to "rate photographer", new_user_rating_path(@user), class:'btn btn-default btn-sm' %>
  <% end %>

  <% if @user.ratings.any? %>
    <hr>
    <%= render 'ratings' %>
  <% end %>
<% end %>

<hr>
<% if session[:user_id] === @user.id %>
  <%= link_to "edit", edit_user_path(@user), class:'btn btn-default btn-sm' %>
  <%= link_to "delete", user_path(@user),
                         :data => {:method => "delete"}, class:'btn btn-default btn-sm' %>
<% end %>
<p><%= link_to "return to photographers", users_path %></p>
