<div class="posting-tile">
  <h4><%= @posting.title %>
  <% if session[:user_id] === @posting.user.id %>
    <%= link_to edit_posting_path(@posting), id: "edit-posting-link", remote: true do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to posting_path(@posting), :data => {:method => "delete"} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  <% end %>
  </h4>

  <h5>
    <%= link_to @posting.user.name, user_path(@posting.user) %>
    <%= @posting.created_at.strftime("%b. %d %Y, %l:%M%P") %>
  </h5>

  <br>
  <%= @posting.body %>
</div>

<br>
<% if session[:user_id] %>
  <%= link_to 'Comment', new_posting_comment_path(@posting), id: "new-posting-comment-link", class: 'btn btn-default btn-sm', remote: true %>
  <% unless session[:user_id] == @posting.user_id %>
    <%= link_to 'Message user', new_message_path(to: @posting.user_id), class: 'btn btn-default btn-sm' %>
  <% end %>
<% end %>

<hr>
<h4>Comments</h4>
<br>
  <div id="comments_show">
    <ul>
      <%= render partial:'comments/comment', collection:@posting.comments(:order => "created_at ASC") %>
    </ul>
  </div>

<p><%= link_to "return to postings", postings_path %></p>
