<div class="posting-tile">
  <h3><%= @posting.title %></h3>
  <h4><%= @posting.created_at %></h4>
  <h4><a href="mailto:<%= @posting.user.email %>"><%= @posting.user.name %></a></h4>
  <br>
  <%= @posting.body %>
</div>
<hr>
<% if session[:user_id] === @posting.user.id %>
  <p><%= link_to "edit", edit_posting_path(@posting), id: "edit-posting-link", remote: true %></p>
  <p><%= link_to "delete", posting_path(@posting),
                         :data => {:method => "delete"} %></p>
<% end %>
<p><%= link_to "return to postings", postings_path %></p>
