<h3><%= @photographer.name %></h3>
<h5><%= @photographer.address %></h5>
<h5><%= @photographer.phone %> | <%= @photographer.email %></h5>
<h4>Categories:</h4>
<ul>
  <% @photographer.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<h4>Images:</h4>
<% if @photographer.images.any? %>
  <% @photographer.images.each do |image| %>
    <%= link_to photographer_image_path(@photographer, image) do %>
      <%= image_tag image.img_file.url(:default) %>
    <% end %>
  <% end %>
<% else %>
  <p>no images for this photographer yet</p>
<% end %>

<p><%= link_to "upload photos", new_photographer_image_path(@photographer) %></p>
<hr>

<p><%= link_to "edit", edit_photographer_path(@photographer) %></p>
<p><%= link_to "delete", photographer_path(@photographer),
                         :data => {:method => "delete"} %></p>
<p><%= link_to "return to photographers", photographers_path %></p>
